<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>HueServer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:include="navbar">...</div>

	<div class="bodyWrapper">
		<div class="alert alert-info" role="alert">Values will be
			changed for the next day.</div>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Configure Daily Hue Schedules</h3>
			</div>
			<form action="#" class="form-horizontal"
				th:action="@{/dailySchedules}" th:object="${dailySchedule}"
				method="post">

				<div class="form-group" id="first">
					<label for="morning">When do you wake up (weekdays)?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="morning"
							placeholder="Ex: 05:00:00" th:field="*{morningTime}"></input>
					</div>
					<div class="col-md-4">
						<div class="checkbox">
							<label><input type="checkbox" name="morningIsEnabled"
								th:field="*{morningEnabled}" />"Good Morning" enabled</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="morningScene">Which scene should be set (id)?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="morningScene"
							placeholder="Ex: 5ZOy2TxzisKhhnE" th:field="*{morningScene}"></input>
					</div>
				</div>

				<div class="form-group">
					<label for="morningGroup">Which group should be set?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="morningGroup"
							placeholder="Ex: 1" th:field="*{morningGroup}"></input>
					</div>
				</div>

				<hr />

				<div class="form-group">
					<label for="pwd">When do you go sleep?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="night"
							placeholder="Ex: 23:00:00" th:field="*{nightTime}"></input>
					</div>
					<div class="col-md-4">
						<div class="checkbox">
							<label><input type="checkbox" name="nightIsEnabled"
								th:field="*{nightEnabled}" />"Good Night" enabled</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="nightGroup">Which group should be set?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="nightGroup"
							placeholder="Ex: 1" th:field="*{nightGroup}"></input>
					</div>
				</div>

				<hr />

				<div class="form-group">
					<label for="pwd">How many minutes before/after sunset shoud
						light starts?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="sunset"
							placeholder="Ex: Before -60, After 60" th:field="*{sunsetTime}"></input>
					</div>
					<div class="col-md-4">
						<div class="checkbox">
							<label><input type="checkbox" name="sunsetIsEnabled"
								th:field="*{sunstatusEnabled}" />"Sunstatus" enabled</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="sunsetScene">Which scene should be set (id)?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="sunsetScene"
							placeholder="Ex: 5ZOy2TxzisKhhnE" th:field="*{sunsetScene}"></input>
					</div>

				</div>

				<div class="form-group">
					<label for="sunstatusGroup">Which group should be set?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="sunstatusGroup"
							placeholder="Ex: 1" th:field="*{sunstatusGroup}"></input>
					</div>
				</div>

				<div class="form-group">
					<label for="pwd">How many minutes before/after sunrise
						shoud light turn off?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="sunrise"
							placeholder="Ex: Before -60, After 60" th:field="*{sunriseTime}"></input>
					</div>
				</div>

				<hr />
				
				<div class="form-group">
					<label for="morning">What time for a dedicated evening scene?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="evening"
							placeholder="Ex: 19:00:00" th:field="*{eveningTime}"></input>
					</div>
					<div class="col-md-4">
						<div class="checkbox">
							<label><input type="checkbox" name="eveningIsEnabled"
								th:field="*{eveningEnabled}" />"Good Evening" enabled</label>
						</div>
					</div>
				</div>

				<div class="form-group">
					<label for="eveningScene">Which scene should be set (id)?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="eveningScene"
							placeholder="Ex: 5ZOy2TxzisKhhnE" th:field="*{eveningScene}"></input>
					</div>
				</div>

				<div class="form-group">
					<label for="eveningGroup">Which group should be set?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" id="eveningGroup"
							placeholder="Ex: 1" th:field="*{eveningGroup}"></input>
					</div>
				</div>
				
				<hr />

				<div class="form-group">
					<div class="col-md-10">
						<button type="submit" class="btn btn-success btn-lg">Save</button>
					</div>
				</div>
			</form>
		</div>
	</div>

</body>
</html>