<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
<title>HueServer</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
	<div th:include="navbar">...</div>

	<div class="bodyWrapper" style="width: 600px; margin: 0 auto;">
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Available lights</h3>
			</div>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>Id</th>
						<th>Name</th>
						<th>Type</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="row : ${lights}">
						<td th:text="${row.key}"></td>
						<td th:text="${row.value.getName()}"></td>
						<td th:text="${row.value.getType()}"></td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">Create group from lights</h3>
			</div>
			<form method="post" action="/hue/groups/create" class="form-horizontal">
				
				<div class="form-group" id="first">
					<label for="morning" style="padding-left: 25px; padding-top: 10px;">Name of the group?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" name="groupName"
							placeholder="Ex: TV Room" style="margin-left: 10px;"></input>
					</div>
				</div>
				
				<div class="form-group">
					<label for="morning" style="padding-left: 25px;">Lights (id) included in the group?</label> <br />
					<div class="col-md-6">
						<input type="text" class="form-control" name="groupLights"
							placeholder="Ex: 1,2,3,4" style="padding-left: 10px; margin-left: 10px;"></input>
					</div>
					<br />
					<br />
					<button type="submit" class="btn btn-lg btn-success" style="float: left; margin-left: 25px;">Create Group</button>
				</div>
				
			</form>
		</div>
	</div>

</body>
</html>